{% extends "App_SistemaGestionInventario/monitor/plantilla_base_monitor.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'App_SistemaGestionInventario/css/registrar_elementos_monitor_style.css' %}">    
{% endblock css %}


{% block content %}

<main>
    <h2>Registrar Materiales</h2> <!-- Título del formulario -->
    <form action="/regis_mate_moni/" method="POST" class="formulario-crear-material" id="crear-materialForm">
        {% csrf_token %}
        <div class="contenedor-desplegable center">
            <label for="">Material</label>
            <select  name="tipo_material" id="select1">
                {% for tipo in tipo_material %}
                    <option value="{{tipo}}">{{tipo}}</option>
                {% endfor %}
            </select>
        </div>
        <input class="input-formulario-material" type="text" name="nombre_material" placeholder="Nombre del material"> <!-- Campo de entrada de texto -->
        <input class="input-formulario-material" type="text" name="modelo_material" placeholder="Modelo del material">
        <div class="contenedor-desplegable">
            <label for="">Ubicación del material</label>
            <select name="ubicacion_material" id="select1">
                {% for ubicacion in ubicaciones %}
                    <option value="{{ubicacion}}">{{ubicacion}}</option>
                {% endfor %}
            </select>
        </div><!-- Campo de entrada de texto -->
        <input class="input-formulario-material" type="text" name="valor_material" placeholder="Valor del material"> <!-- Campo de entrada de texto -->
        <div class="contenedor-desplegable">
            <label for="">Estado del material</label>
            <select name="estado_material" id="select1">
                {% for estado in estado_material %}
                    <option value="{{estado}}">{{estado}}</option>
                {% endfor %}
            </select>
        </div> <!-- Campo de entrada de texto -->
        <input class="input-formulario-material" type="text" name="especificacion_material" placeholder="Especificaciones tecnicas"> <!-- Campo de entrada de texto -->
        <div class="contenedor-desplegable"> <!-- Campo de entrada de texto -->
            <label for="">Instructor a cargo:</label>
            <select name="instructor_encargado" id="select1">
                {% if ins_planta %}

                    {% for usuario_planta in ins_planta %}

                        <option value="{{usuario_planta.numero_documento}}">{{usuario_planta.nombre_1}} {{usuario_planta.apellido_1}}</option>
                    
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        <input class="input-formulario-material" type="number" name="codigo_barras_normal" placeholder="Código ELEMENTO"> <!-- Campo de entrada de texto -->
        <input class="input-formulario-material" type="number" name="codigo_sena" placeholder="Código SENA"> <!-- Campo de entrada de texto -->            
        <div class="contenedor-desplegable"> <!-- Campo de entrada de texto -->
            <label for="">Quien registra:</label>
            <select name="encargado_registro" id="select1">
                {% if usuarios %}
                    {% for usuario in usuarios %}

                        <option value="{{usuario.numero_documento}}">{{usuario.nombre_1}} {{usuario.apellido_1}}</option>
                    
                    {% endfor %}
                {% endif %}
            </select>
        </div> <!-- Campo de entrada de texto -->
        
        <div class="contenedor-desplegable"> 
            <label for="">Firma digital:</label>
            <input class="input-formulario-material" type="file" name="firma_electronica" placeholder="firma electrónica"> <!-- Campo de entrada de texto -->
        </div>
        
        
        <input class="inputfecha" type="date" name="fecha_ingreso" id="fechaActual">
        
      
        <div class="boton center ">
            
            <button class="center" type="submit" onclick="alerta()">Registrar</button><!--Se agrega boton el cual envia los datos recolectados en el formulario y los envia al back-->
        </div>  
    </form>     
</main>
    {% if mensaje_alerta != None and mensaje_alerta != '' %}
        <div class="contenedor-ventana-informativa" id="contenedor_ventana_informativa" onclick="ocultarfondo()">
            <div id="ventana_informativa" class="ventana-informativa">
                <div class="contenido-ventana">
                    {{mensaje_alerta}}
                
                    <br>
                    <button onclick="ocultarAlerta()" name="boton-cerrar">Cerrar</button>
                </div> 
            
                
            </div>
        </div>
        
       
    {% endif %}

    <script>

        function alerta() {
        // Muestra el div al cambiar el estilo de display a "block"
        document.getElementById("ventana_informativa").style.display = "block";
        }

        function ocultarAlerta() {
            // Oculta el div al cambiar el estilo de display a "none"
            
            document.getElementById("ventana_informativa").style.display = "none";
            document.getElementById("contenedor_ventana_informativa").style.display = "none";
        }

    
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Obtener la fecha actual en el formato YYYY-MM-DD
            var fechaActual = new Date().toISOString().split('T')[0];

            // Asignar la fecha actual al campo de entrada de fecha
            document.getElementById('fechaActual').value = fechaActual;
        });
    </script>



{% endblock %}