.boton{
    width: 100%;
}

.contenedor-fecha{
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #00324d;
    border-radius: 5px;
    width: 40%;
    background-color: #f4f2f2;
    position: relative;
    display: inline-block;
    height: 80px;
}

/* Ventana emergente informativa */

/* Ventana informativa */

.contenedor-ventana-informativa {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(161, 161, 161, 0.5);
}

.ventana-informativa {
    background-color: #FFFFFF;
    width: 60%;
    max-width: 400px;
    margin: 50vh auto;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 7px;
    position: relative;
    border: 2px solid #39A900;
}

.contenido-ventana {
    text-align: center;
    margin: auto;
}

.contenido-ventana button {
    width: 20%;
    margin-top: 3px;
    border-radius: 7px;
    border: 2px solid #39A900;
    background-color: #FFFFFF;
    
}

.contenido-ventana button:hover{
    background-color: #39A900;
    color: #FFFFFF;
}

