
h2{
    font-size: 30px;
    text-align: center;
    color: #00324d;
    padding-bottom: 3%;
}

label{
    color: #00324d;
}

/* MAIN / BODY */

.formulario-crear-material{
    display: flex;
    width: 100%;
    margin: auto;
    padding-top: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid #00324d;
    border-radius: 7px;
    box-shadow: 2px 2px 2px 1px #00324d8e;
    padding-bottom: 10px;
}

.formulario-crear-material input{
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #00324d;
    border-radius: 5px;
    width: 40%;
    background-color: #f4f2f2;
    font-size: 14px;
}

/*Desplegar tipo documento*/
.formulario-crear-material .contenedor-desplegable-documento{
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #00324d;
    border-radius: 5px;
    width: 40%;
    background-color: #f4f2f2;
    position: relative;
    display: inline-block;
}

.contenedor-desplegable-documento .boton-desplegable-documento{
    background-color: #f0f0f0;
    cursor: pointer;
    color: #767676;
    font-size: 15px;
}

.contenedor-desplegable-documento .opciones-documento{
    display: none;
    position: absolute;
    background-color: #f4f2f2;
    border: 1px solid #00324d;
    border-radius: 7px;
    width: 100%;
    z-index: 1000;
}

.contenedor-desplegable-documento:hover .opciones-documento{
    display: block;

}

.contenedor-desplegable-documento .opciones-documento a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000000;

}

.contenedor-desplegable-documento .opciones-documento a:hover{
    background-color: #00324d8e;
}
/* Desplegar tipo documento*/

/* Crear material */

.formulario-crear-material input[type="submit"]{
    font-size: 30px;
    padding: 1px;
    border: 2px solid #00324d;
    border-radius: 8px;
    background-color: #00324d8e;
    font-weight: 600;
    cursor: pointer;
}
#select1{
    border: none;
    padding: 1%;
    background-color: #f4f2f2;
}
.boton{
width: 50%;
}

.boton button {
    font-weight: 700;
    color: #ffffff;
    background-color: #00324d;
    padding: 9px 25px;
    border-color: #ffffff;
    border: solid;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 45%;
    
}

/* Efecto de color y escala al pasar el cursor sobre el botón de envío */
.boton button:hover {
    background-color: #ffffff;
    color: #00324d;
    border-color: #00324d;
    transform: scale(1.1);
}

/*Con @media se establecen las configuraciones para cuando la pantalla es más pequeña, mismo tamaño que se define en max-width*/
@media (max-width: 850px){
    .formulario-crear-material{
        flex-direction: column;
        align-items: center;
    }

    .formulario-crear-material input{
        width: 70%;
    }
    
    .formulario-crear-material .contenedor-desplegable-rol,
    .formulario-crear-material .contenedor-desplegable-documento{
        width: 70%;
    }
}

::placeholder{
    color: #767676;
}